<h1>Services</h1>

<% @vehicle.services.each do |s| %>
  <%= link_to "Details", service_path(s) %>
  <%= s.created_at %>
  <%= s.service_option %>
  <%= s.odometer %>
  <%= s.next_service %><br>
<% end %>