<h1>Service Details for <%= @vehicle.nick_name %></h1>

  <%= @service.created_at %><br>
  <%= @service.service_option %><br>
  <%= @service.odometer %><br>
  <%= @service.current_service %><br>
  <%= @service.price%><br>
  <%= @service.comments%><br>
  <%= @service.next_service %><br>