<% if current_user %>
  <h1><%= pluralize(@vehicles_user.count, "Vehicle") %></h1>
  <% @vehicles_user.each do |vehicle| %>
    <h2><%= link_to vehicle.nick_name, vehicle %></h2>
    <small><%= vehicle.year %> - <%= vehicle.make %>, <%= vehicle.model %></small>
 <% end %>
<% else %>
  <% @vehicles.each do |v| %>
      <h2><%= v.year %> - <%= v.make %>, <%= v.model %></h2>
   <% end %>
<% end %>

